body{
    font-family: 'Dosis', sans-serif;
font-family: 'Golos Text', sans-serif;
font-family: 'Poppins', sans-serif;
line-height: 1.1;
}
.head{
    background-color: antiquewhite;
    padding-bottom: 70px;
    text-align: center;
}
.sect{
    background-color: white;
    margin-bottom: 50px;
}
#text{
    text-align: center;
}
.container{
    margin-inline: auto;
    /* left and right   margin-block is top and botton */
    width: min(90%, 1000px);
    /* to operate in even screens that have a width of 1000px */
}
.split{
    display: flex;
    /* gap: 30px; */

}
@media (min-width: 600px){
    .split{
        display: flex;
        flex-direction: row;
    }
    .split > * {
        flex-basis: 100%;
        /* to make the columns equal */
    }
    .split > * + * {
        gap: 30px;
    }
    
}
.sec{
    background-color: rgb(50, 66, 66);
}
.split{
    display: flex;
    
}
img{
    max-width: 100%;
    display: block;

}
.section{
    background-color: rgb(202, 94, 94);
/* padding-left: 4%; */
    
}
.split{
    
    display: flex;
    

}

